* {
  font-family: Verdana;
}

h1 {
  text-align: center;
  vertical-align: middle;
  color: #FFFFFF;
  font-family: Lucida Sans Unicode;
}

.headerbox {
  width: 90.125em;
  height: 4em;
  background-color: #4c1f00;
  vertical-align: middle;
  position: absolute;
  z-index: -1;
  margin: -10px 0px 0px -5px
}

a:link {
  text-decoration: none;
  color: orange;
  font-family: Lucida Sans Unicode;
}

a:visited {
  color: orange;
}

a:hover {
  color: #FFCC99;
}

#logo {
  float:left;
  position:relative;
}

.options {
  float:right;
  font-size:16px;
  padding: 32px 48px 32px 48px;
  border: 1px orange solid;
  position:relative;
  margin-top:2em;
}

.body {
  clear:both
}
