* {
  font-family: Verdana;
}

h1 {
  text-align: center;
  vertical-align: middle;
  color: #FFFFFF;
  font-family: Lucida Sans Unicode;
}

.headerbox {
  width: 1440px;
  height: 48px;
  background-color: #4c1f00;
  vertical-align: middle;
  position: fixed;
  z-index: -1;
  margin: -8px 0px 0px -8px;
}

a:link {
  text-decoration: none;
  color: orange;
  font-family: Lucida Sans Unicode;
}

a:visited {
  color: orange;
}

a:hover {
  color: #FFCC99;
}

#logo {
  float:left;
  position: relative;
  z-index: 1;
}

.options {
  float:right;
  font-size:16px;
  padding: 8px 16px 8px 16px;
  border: 1px orange solid;
  display: inline-block;
  position: relative;
  
}

.body {
  clear:both;
}
