h1 {
  text-align: center;
  vertical-align: middle;
  color: #FFFFFF;
  font-family: Lucida Sans Unicode;
}

.headerbox {
  width: 1440px;
  height: 48px;
  background-color: #4c1f00;
  vertical-align: middle;
  position: fixed;
  z-index: -1;
  margin: -8px 0px 0px -8px;
}

#logo {
  float: left;
  z-index: 1;
  display: inline-block;
  margin: -10px 0px 0px 0px;
}

.options {
  text-align: right;
  float: right;
  height: 40px;
  width: 72px;
  font-size: 16px;
  padding: 8px 16px 8px 16px;
  border: 1px orange solid;
  display: inline-block;
  margin: -6px 0px 0px 0px;
  clear: left;
}

.footer {
  height: 48px;
  width: 1400px;
  border-top: 1px solid #bbbbbb;
  background-color: #FFFFFF;
  clear: both;
}

.body {
  clear: both;
  position: static;
}


.list {
  display: inline-block;
  float: right;
  z-index: 1;
}
